
*{
    padding: 0%;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
}
.leading-logistics{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-items: center;
    padding-bottom: 100px;
}
.row-nos1{
    padding: 0%;
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.row-no-div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
}
.row-25{
    display: flex;
    font-size:2rem;
    font-weight: 600;
    gap: 4px;
}
.row-25 p{
    color: #F9CC0E 
}
.border-bottom{
    border-bottom: solid #F9CC0E  2px;
    width: 50%;
}
.border-bottom-e{
    border-bottom: solid #19286A  2px;
    width: 50%;
}
.years p{
    font-size: 0.985rem;
}
.verified{
    display: flex;
   
    height: 20vh;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: #19286A;

}
.verified-badge{
    display: flex;
  
   gap: 4rem;
   justify-content: center;
   align-items: center;
}
@media screen and (min-width:820px) and (max-width:1090px) {
    .verified{
        height: 15vh;
    }
    .photo-verified img{
        height: 15vh !important ;
    }
    .verified-badge{
        gap: 3rem ;
    }
    
}
@media screen  and (min-width:330px)and (max-width:820px) {
    .verified-badge{
        display: flex;
        flex-direction: column;
        height: auto !important;
        gap: 2rem;
        padding: 1.4rem
    }
    .verified{

        height: auto !important;
    }
    
}
.photo-verified img{
    height: 15vh;

}
.badge-photo{
    display: flex;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.text-icon p{
    color: white;
    text-transform: capitalize;
    font-size: 1.225rem;
}
.icon{
     display: flex;
    color: white;
font-size: 3rem;
 align-items: center;
    justify-content: center;
}
.customer-packages{
    display: flex;
    flex-direction: column;
    font-family: 'poppins',sans-serif;
    gap: 20px;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.inside-packages{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 8px;
}

.customer-h1 h1{
    text-transform: capitalize;
    font-size:2rem;
    color: #0E0F18;
    padding-bottom: 15px;
}

.package-img img{
    width: 13.59vw;
    height: 28.43vh;
}
.blog-div{
display: flex;
}
.customer-h2 h2{
    color:#383838;
    font-size: 1rem;
    font-weight: 400;
}
.package-info{
    font-size: 0.7rem;
    color: #383838;
}
.packages{
    display: flex;
    width: 90%;
    gap: 20px;
    align-items: center;
    /* background-image: 
    
  
   background-repeat: no-repeat; */
  /* background-position: 22% 55%,
  60% 55%,
  100% 55%; */
  background-size: 0% , 0% ,0%;
  
}
.package-div1{
      background-image: url("../assets/one.png");
       background-repeat: no-repeat;
       background-size: 2.5rem;
       background-position: 95% 30%;
       

}
.package-div2{
    background-image: url("../assets/two.png");
     background-repeat: no-repeat;
       background-size: 70px;
       background-position: 100% 30%;
}
.package-div3{
    background-image: url("../assets/three.png");
    background-repeat: no-repeat;
      background-size: 70px;
       background-position: 100% 30%;
}
.borderbottom{
    background-color: #F9CC0E;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   transform: translate(0% , -100%);
    position: absolute;
}

.step{
    display: flex;
    font-family: "poppins",sans-serif;
    text-transform: uppercase;
  padding: 0.5rem 0% 0.5rem 0%;
}
#step1{
font-size: 0.7rem;
font-weight: 600;
color:#19286A;
align-content: center;


}
#recieve{
    font-size: 0.72rem;
    font-weight: 600;
    padding: 4px;
}

.button-footer-top-right button:hover{
    background-color: #F9CC0E;
    box-shadow: none;
}
.button-footer-top-right button{
    background-color: white;
    height: 4.89vh;
    width: 9.38vw;
border: solid 1px black;
box-shadow: 5px 5px 1px #F9CE10BF;
text-transform: capitalize;
color: #0E0F18;
font-size: 1rem;
cursor: pointer;
}
@media screen and (min-width:600px) and (max-width:1150px){
    .package-div1{
       background-position: 80% 30% !important;
       

}

}
@media screen and (min-width:300px) and (max-width: 505px) {
    .verified-badge{
    display: flex;
   gap: 10px;
    
   
   justify-content: center;
   align-items: center;
}
.button-footer-top-right button{
    height: 3vh;
    width: 25vw;
   
}

.verified{
    width: 95% !important;
    display: flex;
    flex-direction: column;
}
.borderbottom{
 display: none;

}

.package-img img{
    width: 20vw;
    height: 20vh;
    
}
.row-nos1{
    gap: 50px;
}
}


